@import url("colors.css");

@font-face {
	font-family: 'title';
	src: url('../fonts/title.ttf') format('truetype');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-weight: normal;
}

body {
    background-color: var(--gray2);
}

#id_password_helptext, #id_remember  {
    display: none;
}

label[for="id_remember"] {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: title;
}

body > div:nth-child(2) > form:nth-child(3) > p {
    margin-top: 2vh;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;

    font-size: 1.8vh;

    color: var(--gray3);
}

input {
    all: initial;

    margin-top: 1vh;

    width: 30vh;
    height: 4vh;

    background-color: white;
    border: 0.1vh solid var(--gray3);

    padding-left: 2vh;
    padding-right: 2vh;

    font-family: title;
    font-size: 2vh;

    border-radius: 1vh;
}

input:focus {
    border: 0.2vh solid var(--black);
}

button[type="submit"] {
    all: initial;

    width: 100%;
    height: 5vh;

    background-color: var(--green);

    font-family: title;
    font-size: 2.5vh;

    cursor: pointer;

    border-radius: 1.5vh;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 4vh;
}

button[type="submit"]:hover {
    opacity: 80%;
}

#textsingup{
    position: absolute;
    bottom: 5vh;
    font-family: title;
    font-size: 2vh;
}

#logoimglogin {
    position: relative;

    height: 20vh;
    margin-bottom: 0vh;
}

#textsingup > a:nth-child(1) {
    font-family: title;
    font-size: 2vh;

    color: var(--pink);
}

body > div:nth-child(1) > form:nth-child(3) > ul:nth-child(5) {
    display: none;
}

body > div:nth-child(2) > form:nth-child(3) > p:nth-child(7),
body > div:nth-child(2) > form:nth-child(3) > p:nth-child(7) > label:nth-child(1) {
    margin-top: 0vh;
}

body > div:nth-child(1) > form:nth-child(3) > p:nth-child(3) {
    display: none;
}

body > div:nth-child(2) > h1:nth-child(2) {
    font-family: title;
    font-size: 3vh;
    margin-bottom: 2vh;
    display: none;
}

.errorlist,
body > div:nth-child(2) > form:nth-child(3) > ul:nth-child(5),
body > div:nth-child(2) > form:nth-child(3) > p:nth-child(3),
body > div:nth-child(2) > form:nth-child(3) > ul:nth-child(6) {
    display: none;
}

body > div:nth-child(1) > form:nth-child(3) > ul:nth-child(6) {
    display: none;
}

#pinkbar {
	position: absolute;
	top: -1vh;

	width: 100%;
	height: 4vh;

	background-color: var(--pink);
}

body > div:nth-child(2) > form:nth-child(3) > p {
    margin-top: 0vh;
}

body > div:nth-child(2) > form:nth-child(3) > p:nth-child(7) {
    margin-top: 0vh;
}

#idframeerror {
    z-index: 1100;
    position: fixed;
    bottom: 4vh;

    width: 40vh;
    min-width: 40vh;

    -webkit-animation: closemsgsucess 4s forwards;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes closemsgsucess {

    0% {
        opacity: 100%;
        visibility: show;
    }

    50% {
        opacity: 100%;
        visibility: show;
    }

    100% {
        opacity: 0%;
        visibility: hidden;
    }
    
}

.classerror {
    position: relative;

    background: linear-gradient(#202020, #474747);
    color: var(--pink);

    width: 40vh;

    border-radius: 1.5vh;

    font-size: 2vh;
    font-family: title;

    display: flex;
    align-items: center;
    justify-content: end;

    margin-bottom: 1vh;

    padding-top: 1vh;
    padding-bottom: 1vh;

    padding-left: 4vh;
    padding-right: 4vh;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    cursor: pointer;
}

.classerror strong {
    position: relative;
}

.classerror p {
    position: absolute;
    right: 1.5vh;

    width: 2vh;
    height: 2vh;

    border-radius: 50%;

    color:  var(--pink);

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    font-size: 2vh;
}

#redborder {
    background-color: #151515;
    border: 0.3vh solid white;
    color: var(--gray1);;
}

.classsucess {
    position: relative;

    width: 40vh;

    background: linear-gradient(#202020, #474747);
    color: var(--green);

    border-radius: 1.5vh;

    font-size: 2vh;
    font-family: title;

    display: flex;
    align-items: center;
    justify-content: end;

    margin-bottom: 1vh;

    padding-top: 1vh;
    padding-bottom: 1vh;

    padding-left: 4vh;
    padding-right: 4vh;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    cursor: pointer;
}

.classsucess strong {
    position: relative;
}

.classsucess p {
    position: absolute;
    right: 1.5vh;

    width: 2vh;
    height: 2vh;

    border-radius: 50%;

    color: var(--green);

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    font-size: 2vh;
}