@import url("colors.css");

@font-face {
	font-family: 'title';
	src: url('../fonts/title.ttf') format('truetype');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-weight: normal;
}

body {
	width: 100%;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
}

#logoimg {
	margin-top: 8vh;

	width: 12vh;
	height: 12vh;
}

#addmore {
	margin-top: 2vh;

	width: 25vh;
	height: 4vh;

	background-color: var(--green);

	border: none;
	border-radius: 3vh;
	cursor: pointer;

	font-family: title;
	font-size: 2.5vh;
}

#addmore:hover {
	opacity: 80%;
}

#register {
	margin-top: 2vh;
	all: initial;

	background-color: none;

	border: none;
	cursor: pointer;

	color: var(--gray4);

	font-family: title;
	font-size: 2.5vh;
}

#register:hover {
	opacity: 80%;
}

#inputsearch {
	margin-top: 8vh;

	width: 70vh;
	height: 5vh;

	background-color: none;

	padding-left: 2vh;
	padding-right: 2vh;

	font-family: title;
	font-size: 2.8vh;

	border-radius: 2vh;
}

#textbbok {
	font-family: title;
	font-size: 2.5vh;
	color: var(--black);
	margin-bottom: 3vh;
}

#frameallbooks {
	margin-top: 5vh;
	margin-bottom: 10vh;
	width: 100%;
	flex: 1;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
}

#framecab {
	display: flex;
	align-items: center;
	justify-content: center;

	gap: 5vh;

	font-family: title;
	font-size: 2.5vh;

	color: var(--gray4);
}

#framecab div {
	width: 30vh;
	display: flex;
	align-items: start;
	justify-content: start;
}

#framcontent {
	margin-top: 2vh;
	display: flex;
	align-items: center;
	justify-content: center;

	gap: 5vh;

	font-family: title;
	font-size: 2.5vh;

	color: var(--black);

	border-bottom: 0.1vh solid var(--gray4);
}

#framcontent p {
	width: 30vh;

	text-align: start;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#forminsert {
	width: 50vh;

	margin-top: 5vh;
	margin-bottom: 4vh;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 5vh;
	padding-bottom: 5vh;

	background-color: var(--gray2);

	border-radius: 2vh;	
}

input {
	margin-top: 1vh;
	width: 40vh;
	height: 5vh;

	border: 0.2vh solid var(--gray3);

	padding-left: 2vh;
	padding-right: 2vh;

	border-radius: 1vh;

	font-family: title;
	font-size: 2.5vh;
}

.datex {
	padding-left: 2vh;
	padding-right: 2vh;
}

#senddata {
	margin-top: 3vh;
	height: 6vh;
	border: none;

	background-color: var(--pink);
	color: white;
	cursor: pointer;
}

#senddata:hover {
	opacity: 80%;
}

.titlefield {
	margin-top: 2vh;
	width: 100%;

	font-family: title;
	font-size: 2vh;
}