#register {
	margin-top: 2vh;
	all: initial;

	background-color: none;

	border: none;
	cursor: pointer;

	color: var(--gray4);

	font-family: title;
	font-size: 2.5vh;
}

#register:hover {
	opacity: 80%;
}

#inputsearch {
	margin-top: 2vh;

	width: 100%;
	height: 7vh;

	background-color: var(--gray2);

	padding-left: 2vh;
	padding-right: 2vh;

	font-family: title;
	font-size: 2.5vh;

	border-radius: 1vh;
}

#textbbok {
	width: 100%;
	height: 7vh;

	margin-top: 15vh;
	font-family: title;
	font-size: 2.5vh;

	background-color: var(--green);

	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 1vh;
}

#frameallbooks {
	margin-top: 8vh;
	margin-bottom: 10vh;
	width: 100%;
	flex: 1;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
}

#framecab {
	display: flex;
	align-items: center;
	justify-content: center;

	gap: 5vh;

	font-family: title;
	font-size: 2.5vh;

	color: var(--gray4);
}

#framecab div {
	width: 30vh;
	display: flex;
	align-items: start;
	justify-content: start;
}

#framcontent {
	margin-top: 3vh;
	display: flex;
	align-items: center;
	justify-content: center;

	gap: 5vh;

	font-family: title;
	font-size: 2.5vh;

	color: var(--black);

	border-bottom: 0.1vh solid var(--gray4);
}

#framcontent p {
	width: 30vh;

	text-align: start;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

section{ 
	display: flex;
	flex-direction: column;
	align-items: center;
}