<!DOCTYPE html>
<html lang="pt">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/core/css/base.css' %}">
    <link rel="shortcut icon" type="image/svg" href="{% static 'core/images/ico.svg' %}">

    {% block htmlhead %}
	{% endblock htmlhead %}

</head>
<body>

    <div id="topbarpink"></div>
    <nav id="navigationbartop">
        <img id="logoimg" src="{% static '/core/images/logotxt.svg' %}" />
        <div id="spacecenter"></div>
        <div id="options">
            <button onclick="location.href='/search'" class="btnstop">Pesquisar Livro</button>
            <button onclick="location.href='/insert'" class="btnstop">Adicionar Livro</button>
            <button onclick="location.href='/accounts/logout'" id="sair" class="btnstop">Sair</button>
        </div>
    </nav>

    {% block content %}
    {% endblock %}
</body>

</html>