<!DOCTYPE html>
<html lang="pt">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/core/css/home.css' %}">
    <link rel="shortcut icon" type="image/svg" href="{% static 'core/images/ico.svg' %}">
    <title>Bookberry</title>
</head>
<body>

    <div id="idframeerror">
    
        {% if messages %}

            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div id="{{ message }}" class="classerror" onclick="new unloadPage('{{ message }}')">
                        <strong>{{ message }}</strong>
                        <p onclick="new unloadPage('{{ message }}')" id="closeerror">x</p>
                    </div>
                {% endif %}
            {% endfor %}

            {% for message in messages %}
                {% if message.tags != 'error' %}
                    <div id="id_{{ message }}" class="classsucess" onclick="new unloadPage('id_{{ message }}')">
                        <strong>{{ message|safe }}</strong>
                        <p onclick="new unloadPage('id_{{ message }}')" id="closeerror">x</p>
                    </div>
                {% endif %}
            {% endfor %}

        {% endif %}
            
        {% if form.errors %}
            {% for error in form.non_field_errors %}
                <div id="{{ error }}" class="classerror" onclick="new unloadPage('{{ error }}')">
                    <strong>{{ error }}</strong>
                    <p onclick="new unloadPage('{{ error }}')" id="closeerror">x</p>
                </div>
            {% endfor %}

            {% for field in form %}
                {% for error in field.errors %}
                    <div id="{{ field.auto_id }}" class="classerror" onclick="new unloadPage('{{ field.auto_id }}')">
                    <strong>{{ field.label }}: {{ error }}</strong>
                    <p onclick="new unloadPage('{{ field.auto_id }}')" id="closeerror">x</p>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
    </div>

    <div id="pinkbar"></div>

    <img id="logoimg" src="{% static '/core/images/logo.svg' %}" />

    <button onclick="location.href='/accounts/login/'" id="siginbtn">entrar</button>

    <button onclick="location.href='/accounts/signup/'" id="register">Ainda não é membro? Cadastre-se!</button>

</body>
</html>