<!DOCTYPE html>
<html lang="pt">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/core/css/home.css' %}">
    <title>Bookberry</title>
</head>
<body>

    <div id="pinkbar"></div>

    <img id="logoimg" src="{% static '/core/images/logo.svg' %}" />

    <button onclick="location.href='/accounts/login/'" id="siginbtn">entrar</button>

    <button onclick="location.href='/accounts/signup/'" id="register">Ainda não é membro? Cadastre-se!</button>

</body>
</html>