{% extends 'core/base.html' %}
<!DOCTYPE html>
<html lang="pt">
<head>
    {% block htmlhead %}
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/core/css/insert.css' %}">
    <title>[ Bookberry]  - Inserir Livro</title>
    {% endblock htmlhead %}
</head>

{% block content %}

    <section>

        <div id="idframeerror">
    
            {% if messages %}
    
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <div id="{{ message }}" class="classerror" onclick="new unloadPage('{{ message }}')">
                            <strong>{{ message }}</strong>
                            <p onclick="new unloadPage('{{ message }}')" id="closeerror">x</p>
                        </div>
                    {% endif %}
                {% endfor %}
    
                {% for message in messages %}
                    {% if message.tags != 'error' %}
                        <div id="id_{{ message }}" class="classsucess" onclick="new unloadPage('id_{{ message }}')">
                            <strong>{{ message|safe }}</strong>
                            <p onclick="new unloadPage('id_{{ message }}')" id="closeerror">x</p>
                        </div>
                    {% endif %}
                {% endfor %}
    
            {% endif %}
                
            {% if form.errors %}
                {% for error in form.non_field_errors %}
                    <div id="{{ error }}" class="classerror" onclick="new unloadPage('{{ error }}')">
                        <strong>{{ error }}</strong>
                        <p onclick="new unloadPage('{{ error }}')" id="closeerror">x</p>
                    </div>
                {% endfor %}
    
                {% for field in form %}
                    {% for error in field.errors %}
                        <div id="{{ field.auto_id }}" class="classerror" onclick="new unloadPage('{{ field.auto_id }}')">
                        <strong>{{ field.label }}: {{ error }}</strong>
                        <p onclick="new unloadPage('{{ field.auto_id }}')" id="closeerror">x</p>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </div>

        <form action="{% url 'core:insert' %}" method="post" id="forminsert">
            {% csrf_token %}
            
            <p id="textbbok">Inserir Livro no Acervo</p>

            <div class="fieldform">
                <p class="titlefield">Nome do Livro:</p>
                {{form.bookname}}
            </div>


            <div class="fieldform">
                <p class="titlefield">Data de lançamento:</p>
                {{form.dateRelease}}
            </div>


            <div class="fieldform">
                <p class="titlefield">ISBN:</p>
                {{form.isbn}}
            </div>


            <div class="fieldform">
                <p class="titlefield">Autor:</p>
                {{form.autor}}
            </div>

            <input type="submit" name="" value="Inserir" id="senddata">

        </form>

    </section>

    <svg id="svgwave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#93F048" fill-opacity="1" d="M0,64L48,90.7C96,117,192,171,288,176C384,181,480,139,576,106.7C672,75,768,53,864,42.7C960,32,1056,32,1152,69.3C1248,107,1344,181,1392,218.7L1440,256L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
    </svg>      

{% endblock %}
</html>