{% extends 'core/base.html' %}
<!DOCTYPE html>
<html lang="pt">
<head>
    {% block htmlhead %}
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/core/css/search.css' %}">
    <title>[ Bookberry]  - Buscar Livro</title>
    {% endblock htmlhead %}
</head>

{% block content %}

    <section>

    <div id="idframeerror">
    
        {% if messages %}

            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div id="{{ message }}" class="classerror" onclick="new unloadPage('{{ message }}')">
                        <strong>{{ message }}</strong>
                        <p onclick="new unloadPage('{{ message }}')" id="closeerror">x</p>
                    </div>
                {% endif %}
            {% endfor %}

            {% for message in messages %}
                {% if message.tags != 'error' %}
                    <div id="id_{{ message }}" class="classsucess" onclick="new unloadPage('id_{{ message }}')">
                        <strong>{{ message|safe }}</strong>
                        <p onclick="new unloadPage('id_{{ message }}')" id="closeerror">x</p>
                    </div>
                {% endif %}
            {% endfor %}

        {% endif %}
            
        {% if form.errors %}
            {% for error in form.non_field_errors %}
                <div id="{{ error }}" class="classerror" onclick="new unloadPage('{{ error }}')">
                    <strong>{{ error }}</strong>
                    <p onclick="new unloadPage('{{ error }}')" id="closeerror">x</p>
                </div>
            {% endfor %}

            {% for field in form %}
                {% for error in field.errors %}
                    <div id="{{ field.auto_id }}" class="classerror" onclick="new unloadPage('{{ field.auto_id }}')">
                    <strong>{{ field.label }}: {{ error }}</strong>
                    <p onclick="new unloadPage('{{ field.auto_id }}')" id="closeerror">x</p>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
    </div>

    <div id="bannerframe">
        <img id="bannerimg" src="{% static '/core/images/banner.svg' %}" />
        <p id="textbbok">Olá, {{ user.username }}! </p>
        <p id="textbbok2">O seu acervo possui um total de {{total_books}} livros.</p>
    </div>

    <input type="text" id="inputsearch" placeholder="Pesquisar (nome, data de lançamento, ISBN ou autor)" >

    <div id="frameallbooks">

        <div id="framecab">
            <div>Livro</div>
            <div>Lançamento</div>
            <div>ISBN</div>
            <div>Autor</div>
            <img style="visibility: hidden ;opacity: 0%;" id="deleteimg" src="{% static '/core/images/edit.svg' %}" onclick="" />
            <img style="visibility: hidden ;opacity: 0%;" id="deleteimg" src="{% static '/core/images/delete.svg' %}" />
        </div>

        {% for book in search_list %}
            <div class="searchclass" id="framcontent">
                <p>{{book.bookname}}</p>
                <p>{{book.dateRelease}}</p>
                <p>{{book.isbn}}</p>
                <p>{{book.autor}}</p>

                <img id="deleteimg" src="{% static '/core/images/edit.svg' %}" onclick="location.href='/edit/{{book.pk}}'" />

                <form id="deleteForm{{ book.pk }}" action="{% url 'core:delete' pk=book.pk %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <img id="deleteimg" src="{% static '/core/images/delete.svg' %}" onclick="submitForm('{{ book.pk }}')" />
                </form>
                
            </div>
        {% endfor %}

    </div>
    </section>

    <script>
        function setupTextFilter(inputId, itemClassName) {
            const inputFilter = document.getElementById(inputId);
            const itemElements = document.getElementsByClassName(itemClassName);

            inputFilter.addEventListener('input', function () {
                const filterText = inputFilter.value.toLowerCase();

                for (const item of itemElements) {
                    const itemText = item.textContent.toLowerCase();
                    const shouldDisplay = itemText.includes(filterText);

                    if (shouldDisplay) {
                        item.style.display = 'flex';
                    } else {
                        item.style.display = 'none';
                    }
                }
            });
        }

        setupTextFilter('inputsearch', 'searchclass');

        function submitForm(pk) {
            document.getElementById('deleteForm' + pk).submit();
        }

    </script>
{% endblock %}

</html>