{% extends 'core/base.html' %}
<!DOCTYPE html>
<html lang="pt">
<head>
    {% block htmlhead %}
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/core/css/search.css' %}">
    <title>[ Bookberry]  - Buscar Livro</title>
    {% endblock htmlhead %}
</head>

{% block content %}
    <div id="pinkbar"></div>

    <img id="logoimg" src="{% static '/core/images/logo.svg' %}" />

    <button onclick="location.href='/insert'" id="addmore">Adicionar Livro</button>

    <input type="text" id="inputsearch" placeholder="Pesquisar (nome, data de lançamento, ISBN ou autor)" >

    <p id="textbbok">Acervo de livros</p>

    <div id="frameallbooks">
        
        <div id="framecab">
            <div>Nome</div>
            <div>Lançamento</div>
            <div>ISBN</div>
            <div>Autor</div>
        </div>

        {% for book in search_list %}
            <div class="searchclass" id="framcontent">
                <p>{{book.bookname}}</p>
                <p>{{book.dateRelease}}</p>
                <p>{{book.isbn}}</p>
                <p>{{book.autor}}</p>
            </div>
        {% endfor %}

    </div>

    <script>
        function setupTextFilter(inputId, itemClassName) {
            const inputFilter = document.getElementById(inputId);
            const itemElements = document.getElementsByClassName(itemClassName);

            inputFilter.addEventListener('input', function () {
                const filterText = inputFilter.value.toLowerCase();

                for (const item of itemElements) {
                    const itemText = item.textContent.toLowerCase();
                    const shouldDisplay = itemText.includes(filterText);

                    if (shouldDisplay) {
                        item.style.display = 'flex';
                    } else {
                        item.style.display = 'none';
                    }
                }
            });
        }

        setupTextFilter('inputsearch', 'searchclass');
    </script>
{% endblock %}

</html>