<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/core/css/login.css' %}">
    <title>Entrar</title>
</head>


{% load i18n %}
{% load allauth account %}


{% block content %}

<div style="width: 100%; height: 100vh; display: flex; flex-direction: column; align-items: center; justify-content: center;">
    
    <img id="logoimglogin" src="{% static '/core/images/logo.svg' %}" />

    {% url 'account_login' as login_url %}
    {% element form form=form method="post" action=login_url tags="entrance,login" %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form unlabeled=True %}
            {% endelement %}
            {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
            {% endif %}
        {% endslot %}
        {% slot actions %}
            {% element button type="submit" tags="prominent,login" %}
                {% trans "Entrar" %}
            {% endelement %}
        {% endslot %}
    {% endelement %}

    <p id="textsingup">
        {% blocktrans %}Se você não possui uma conta, por favor
    <a href="{{ signup_url }}">cadastre-se</a> antes.{% endblocktrans %}
    </p>
</div>


{% endblock content %}
