<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/core/css/cadastrar.css' %}">
    <title>Entrar</title>
    <style>

        * {
            margin: 0;
            margin-top: 1vh;
            padding: 0;
            box-sizing: border-box; /* Isso é opcional, mas geralmente recomendado */
        }

        #id_password_helptext, #id_remember  {
            display: none;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0vh;
            margin: 0vh;
        };

    </style>
</head>


{% load i18n %}
{% load allauth account %}


{% block content %}

<div id="pinkbar"></div>

<div style="width: 100%; height: 90vh; display: flex; flex-direction: column; align-items: center; justify-content: center;">

    <img id="logoimglogin" src="{% static '/core/images/logo.svg' %}" />

    {% element h1 %}
        {% trans "Cadastre-se" %}
    {% endelement %}
    {% url 'account_signup' as action_url %}
    {% element form form=form method="post" action=action_url tags="entrance,signup" %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form unlabeled=True %}
            {% endelement %}
            {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
            {% endif %}
        {% endslot %}
        {% slot actions %}
            {% element button tags="prominent,signup" type="submit" %}
                {% trans "Cadastrar" %}
            {% endelement %}
        {% endslot %}
    {% endelement %}
    {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %}

    <p id="textsingup">
        {% blocktrans %}Já possui uma conta? <a href="{{ login_url }}"> Entrar</a>.{% endblocktrans %}
    </p>
{% endblock content %}
